<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>在电子荒原下荒诞现实的重构记录  </p>
    <p>
      即将实现： <br/><code>分类：金融、技术、生活、思考<br/></code>
      <code>
        <a href="http://www.wizwu.com:7788/z/">
        倒是不如先来这里
        </a>
      </code>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
